header {
    height: 60px;
    background-color: #0CE8D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid #0CE8D9;
    padding: 10px 20px;
}

.agviagens-nav-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.agviagens-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    margin: 0 0 0 10px;
    align-items: center;
    
}

.agviagens-contact-container {
    display: flex;
    align-items: center;
}

.agviagens-contact-link {
    margin: 0 0 0 10px;
    align-items: center;
}

.agviagens-nav-icon {
    display: inline-flex;
    text-align: left;
    align-items: center;

}

a {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    color: unset;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    background-color: #0C82E8;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 60px;
    box-shadow: 5px 5px 0px black;

}

