@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #0C5DF8;
}
/*padrão para tds elementos*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: #E8e8e8;
}
/*sem cor padrão para os links*/
a,
a:hover {
  text-decoration: none;
  color: unset;
}